name: Demo Workflow

on: 
  push:
    branches:
      - github-actions-demo

jobs:
  deploy-code:
    runs-on: ubuntu-latest
    steps:
      - name: Starting Script
        run: echo "Hello World!"
      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: echo "This is user $(whoami)."